<div class="container" [formGroup]="form">
  <div class="mb-3 w-50">
    <label for="exampleFormControlInput1" class="form-label">Password</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
      formControlName="password"
    />
  </div>

  <div class="mb-3 w-50">
    <label for="exampleFormControlInput1" class="form-label"
      >Change Password</label
    >
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
      formControlName="changePassword"
    />
  </div>
  <p *ngIf="form.hasError('notEqual')">Hello</p>
</div>

